.mid { width:1200px; margin:0 auto;overflow: hidden}

#list_content .mid div{height: 60px;line-height: 60px}
#list_content .mid div span{margin-right: 10px}
#list_content .mid a{color: #666;}
#list_content .mid a:hover{color: #0069b7;}

/*ul*/
.list { margin:20px 0;}
.pro-pic {
    margin-top:-5px; padding:0; max-width:217px; height:200px; float:left;
    background-color:#fff; border:1px solid #e4e4e4;}
.pro-push { margin-top:-5px; height:5px; float:left;}
.list-pro li { height:195px;border:1px solid #e4e4e4; margin-bottom:30px;}
.list-pro dl { padding:0; margin:0;}
.list-pro h4 { font-size:18px; font-weight:normal; padding-left:25px; color:#333;
    height:55px; line-height:55px; margin:0; border-bottom:1px solid #e4e4e4;
    background-color:#fff;}
.list-pro dd { height:138px; text-align:center; border-left:1px solid #e4e4e4; line-height:28px;}
.list-pro .pl-no1 { padding-top:30px;}
.list-pro .pl-no1 img{display: inline-block}
.list-pro .pl-no2 { padding-top:25px;}
.list-pro .pl-no2 img{ margin-top:-6px;}
.list-pro .pl-no3 { padding-top:25px;}
#list_content .list-pro .pl-no3 a{color: white}
.list-pro dd font { color:#ff520c;}
.list-pro dd .f30 { font-size:30px; font-weight:bold; display:block; margin-top:12px;}
.list-pro dd li{border:none; background:none; height:auto; margin:0;}



.list-side { padding:0; margin:10px 0;}
.fastup,.side-box { background:#fff; border:1px solid #e7e7e7; padding-bottom:20px;}
.fastup dt,
.side-box dt,
.sb-tit,.list-art dt,
.list-qa dt,
.qa-answer dt,
.about-pro dt { padding:12px 20px; font-size:18px; border-bottom:1px solid #e7e7e7;
    background-color:#fcfbfb; font-weight:normal;}
.fastup .input-group-addon {background-color:#fff;}
.fastup .input-group { margin-top:20px; padding:0 20px;}
.fastup .input-group input{ border-left:none; border-right:none;}
.fastup .fast-radio { border:1px solid #ccc; padding:5px 0 5px 20px; border-radius:0 4px 4px 0;
    border-left:none;vertical-align: middle}
.fastup .fast-radio .radio-inline{ margin-right:20px;margin-top: -10px}
.fastup .fast-radio .radio-inline input{ position: relative;margin-top: -5px}
.fastup .fast-submit { width:100%;}

/*计算器*/
.jsq dt { margin-bottom:15px; font-weight:normal;}
.jsq dd { text-align:center; margin:5px 0; padding:3px 0;}
.jsq dd font { display:block; margin-top:5px;}
.jsq dd:hover { box-shadow:5px 5px 5px #e7e7e7;}
.jsq dd img{display: inline-block}