@charset "utf-8";

* {margin: 0;padding: 0;}

html, body, div, span, h1, h2, h3, h4, h5, h6,
dl, dt, dd, ol, ul, li,a,
form, label,input,img,form,p,
table, caption, tbody, tfoot, thead, tr, th, td,

applet, object, iframe, blockquote, pre, abbr, acronym, address, big,
cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, fieldset, legend,select,textarea{
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
}
textarea{resize: none;outline: none}

body {
    background: #f1f1f1;
    word-wrap: break-word;
    color: #333;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

html,body{width: 100%; height:100%; position: relative;}

ul,li,dl,dt,dd,span,del,b,font,label,ol,div{list-style-type:none;}

ul,li,ol{list-style: none;}
i,b,em{font-style: normal;}

h1,h2,h3,h4,h5,h6{ font-weight:normal;}

img{border:0; display:block;}

em,i,s{ font-style:normal;}

a{text-decoration:none;outline:none;}

a:hover{cursor:pointer;text-decoration:none;outline:none;}

.fl{float: left}
.fr{float: right}
.tl{text-align: left;}
.tc{text-align: center;}
.tr{text-align: right;}

.none { display: none; }

.clearfix {
    *zoom: 1;
}
.clearfix:after {
    content: " ";
    display: block;
    overflow: hidden;
    visibility: hidden;
    height: 0;
    clear: both;
}
